.user-info {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    margin-bottom: 40px;
    font-weight: 500;
    color:#592549;;
}

.user-info .username {
    font-size: 32px;
    line-height: 32px;
}

.user-info .user-birthday {
    font-size: 23px;
    line-height: 23px;
}

.wishes {
    margin: 0px 50px;
}

.wish-line {
    width: inherit;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}

.wish-info {
    background: #ECE3E3;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 10px 25px;
}

.wish-info-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1DADA;
}

.wish-buttons {
    background: rgb(198, 169, 96);
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.wish-buttons a img {
    height: 10px;
    padding: 0px 5px
}

.add-wish {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.add-wish-button img {
    width: 25px;
}