# Temporary doc/docx file
~$*

# Default ignored files
*.idea/
*.pytest_cache/
*__pycache__/
GoldenFish/venv/
GoldenFish/Pipfile

# Vue modules
GoldenFish/frontend/node_modules
GoldenFish/frontend/dist
GoldenFish/frontend/server.js
GoldenFish/frontend/.gitignore
