@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
    font-family: Poiret One;
}

.ptofile-title {
    text-align: center;
    margin: 80px 80px 40px 80px;
    font-size: 30px;
    line-height: 35px;
    color: #6C3F5E;;
}

.edit-profile-form {
    margin: 0px 30px;
    display: flex;
    flex-direction: column; 
}

.edit-profile-form input {
    background: inherit;
    border: 0;
    border-bottom: 1px solid rgba(140, 102, 128, 0.5);
    margin-bottom: 35px;
    padding: 7px 25px;
    font-size: 15px;
    line-height: 18px;
    color: #6C3F5E;; 
}

.edit-profile-form input::-webkit-input-placeholder { 
    font-size: 15px;
    line-height: 18px;
    color: #6C3F5E; 
}

.edit-profile-form input[type="submit"] {
    border: 0;
    cursor: pointer;
}