<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Мои желания</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/mywishes.css">
    </head>
    <body>
        <header>
            <img src="images/logo.png" class="logo">
            <form>
                <input name="username" placeholder="Поиск..." class="search-bar" autocomplete="off">
                <a href="#" class="magnifer-button"><img src="images/magnifer.png"></a>
            </form>
            <div class="dropdown">
                <div class="dropdown-link">
                    <span class="dropdow-username">Username</span>
                    <img src="images/dropdown.png">
                </div>
                <div class="dropdown-content">
                  <a href="profile.html">Профиль</a>
                  <a href="#">Выйти</a>
                </div>
              </div>
        </header>
        <main>
            <menu>
                <li><a href="friends.html">Друзья</a></li>
                <li class="selected-menu-item"><a href="mywishes.html">Мои желания</a></li>
                <li><a href="fulfilled_wishes.html">Исполненные желания</a></li>
                <li><a href="planned_gifts.html">Хочу подарить</a></li>
            </menu>
            <section class="content">
                <div class="user-info">
                    <span class="username">Username</span>
                    <span class="user-birthday">05.05.2005</span>
                </div>
                <div class="wishes">
                    <div class="wish-line">
                        <div class="wish-info">
                            <div class="wish-info-line">
                                <span class="wish-name">Велосипед</span>
                                <span class="friend-name"></span>
                            </div>
                        </div>
                        <div class="wish-buttons">
                            <a><img src="images/delete.png"></a>
                            <a><img src="images/checkmark.png"></a>
                        </div>
                    </div>
                    <div class="wish-line">
                        <div class="wish-info">
                            <div class="wish-info-line">
                                <span class="wish-name">Машина</span>
                                <span class="friend-name">frined1</span>
                            </div>
                        </div>
                        <div class="wish-buttons">
                            <a><img src="images/delete.png"></a>
                            <a><img src="images/checkmark.png"></a>
                        </div>
                    </div>
                </div>
                <div class="add-wish">
                    <a href="#" class="add-wish-button"><img src="images/plus.png"></a>
                </div>
            </section>
        </main>
    </body>
</html>