<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Регистрация</title>
        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/registration.css">
    </head>
    <body>
        <div class="site-title">
            <span class="site-name">Golden Fish</span>
        </div>
        <form method="POST">
            <div>
                <span class="error">Не все обязательные поля заполнены</span>
            </div>
            <input type="email" name="email" placeholder="Email *" autocomplete="off" required>
            <input name="name" placeholder="Имя *" autocomplete="off" required>
            <input name="surname" placeholder="Фамилия *" autocomplete="off" required>
            <input name="username" placeholder="Юзернейм *" autocomplete="off" required>
            <input type="password" placeholder="Пароль *">
            <input type="date" name="birthday">
            <input type="submit" name="register" value="Зарегистрироваться" class="button">
        </form>
    </body>
</html>